body {
  background: #FFF;
  color: #333;
  display: flex;
  font-family: "Open Sans", "Helvetica", sans-serif;
}

main {
  display: inline-block;
  margin: 0 auto;
}

.logo {
  margin-bottom: 5%;
  margin-top: 20%;

  img {
    height: auto;
    width: 600px;
  }

  @media (max-width: 700px) {
    img {
      width: 100%;
    }
  }
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 600px;

  @media (max-width: 700px) {
    width: 100%;
  }

  .link {
    align-self: center;
    padding: 12px;
    text-align: center;

    a {
      color: lighten(#ED9121, 15%);

      &:hover {
        color: #ED9121;
      }
    }
  }
}
